@{
    ViewBag.Title = "Home Page";
}
<style>
    .count {
        font-size: 50px;
    }

    .count_top {
        font-size: 20px;
    }
</style>
<!-- top tiles -->
<div class="row">
    <div class="col-sm-3 col-sm-offset-4">
        <h1>Overview of RSPs</h1> <hr /> <h3>Social Mobilization Outreach</h3>
    </div>

</div>
<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-bell"></i>
            </div>
            <div class="count"> 362,791 </div>

            <h3> Community Organizations </h3>
            <p>Formed till now</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>
            <div class="count">6,038,945</div>

            <h3>Organized Households</h3>
            <p>Total House Holds -----</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="count">6,225,736</div>

            <h3>Community Organization Members</h3>
            <p>Total Population</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-chain"></i>
            </div>
            <div class="count">1,149</div>

            <h3>Local Support Organizations</h3>
            <p>Or LSO's</p>
        </div>
    </div>
</div>
<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12 col-lg-offset-3">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="count"> 123 </div>

            <h3> Districts + FATA/FRS  </h3>
            <p>With RSPs Presence</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon">
                <i class="fa fa-bank"></i>
            </div>
            <div class="count">3,692</div>

            <h3>Rural Union Councils</h3>
            <p>With RSPs Presence</p>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Province/Area wise number of union councils with RSP presence </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
             
                (As of November, 2015)

                <div id="chart1" style="height:300px">

                </div>

            </div>
        </div>

    </div>



    <div class="col-sm-6">

        <div class="x_panel tile ">
            <div class="x_title">
                <h2>  Province/Area wise number of districts/areas with RSP presence </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                (As of November, 2015)

                <div id="chart2" style="height:300px">

                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">



    <div class="col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2> Province-wise Organized households </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                (% of total rural households based on 1998 census data )
                (As of November, 2015)

                <div id="chart3" style="height:400px">

                </div>

            </div>
        </div>

    </div>

</div>
<!-- /top tiles -->


@section Scripts
{


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>

    <script>
        $(function () {
            $('#chart3').highcharts({
                chart: {
                    type: 'column',
                    options3d: {
                        enabled: true,
                        alpha: 2,
                        beta: 0,
                        depth: 70,
                        viewDistance: 25

                    },
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        'Total',
                        'Federal Administered Tribal Areas (FATA)/Frontier Regions (FRs)',
                        'Gilgit-Baltistan (GB)',
                        'Azad Jammu and Kashmir (AJK)',
                        'Punjab (Inc ICT)',
                        'Sindh',
                        'Khyber Pakhtunkhwa (KPK)',
                        'Balochistan'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Value'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    color: '#26B99A',
                    name: '% of Households Organized',
                    data: [49.0,7.1,72.5,77.6,51.4,43.1,53.0,42.5]

                }]
            });
        });
        $(function () {
            $('#chart2').highcharts({
                chart: {
                    type: 'column',
                    options3d: {
                        enabled: true,
                        alpha: 2,
                        beta: 15,
                        depth: 50,
                        viewDistance: 25
                    },
                },
                title: {
                    text: ''
                },
             
                subtitle: {
                    text: ''
                },

                xAxis: {
                    categories: [
                        'Federal Administered Tribal Areas (FATA)/Frontier Regions (FRs)',
                        'Gilgit-Baltistan (GB)',
                        'Azad Jammu and Kashmir (AJK)',
                        'Punjab (Inc ICT)',
                        'Sindh',
                        'Khyber Pakhtunkhwa (KPK)',
                        'Balochistan'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Value'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    color: '#26B99A',
                    name: 'Number of total districts/area in province/area',
                    data: [13,7,10,37,23,24,30]

                }, {
                    color: '#03586A',
                    name: 'Number of districts/areas having RSPs presence',
                    data: [5,6,10,37,22,23,20]

                }]
            });
        });
        $(function () {
            $('#chart1').highcharts({
                chart: {
                    type: 'column',
                    options3d: {
                        enabled: true,
                        alpha: 2,
                        beta: -15,
                        depth: 50,
                        viewDistance: 15
                    },
                  
  
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        'Federal Administered Tribal Areas (FATA)/Frontier Regions (FRs)',
                        'Gilgit-Baltistan (GB)',
                        'Azad Jammu and Kashmir (AJK)',
                        'Punjab (Inc ICT)',
                        'Sindh',
                        'Khyber Pakhtunkhwa (KPK)',
                        'Balochistan'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Value'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    color:'#26B99A',
                    name: 'Total Rural Union Councils',
                    data: [190,103,196,2647,921,964,547]

                }, {
                    color:'#03586A',
                    name: 'Union Councils Having RSP Presence',
                    data: [15,94,181,1820,696,609,286]

                }]
            });
        });
    </script>

}