@model dynamic

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Associate Districts To Partner Organizations <small> </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                @using (Html.BeginForm("PoDistricts", null, FormMethod.Post, new { id = "Form", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                {

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Select Partner Organization <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <select name="poType" class="form-control">
                                <option>Select Partner Organization</option>
                                @foreach (var d in Model.POs)
                                {
                                    <option value="@d.ID">@d.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <select name="from[]" id="undo_redo" class="form-control" size="13" multiple="multiple">
                                @foreach (var d in Model.Districts)
                                {
                                    <option value="@d.Dist_Id">@d.District_Name</option>
                                }
                            </select>
                        </div>

                        <div class="col-xs-2">
                            <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                            <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                            <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                            <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                            <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
                        </div>

                        <div class="col-xs-5">
                            <select name="to[]" id="undo_redo_to" class="form-control" size="13" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

